<div class="flex h-screen dark:bg-gray-900">

  <!-- MENU LATERAL -->
  <aside class="bg-gray-100 dark:bg-gray-800 w-64 p-4 flex flex-col gap-6 border-r border-gray-300 dark:border-gray-700">

    <h1 class="text-xl font-bold dark:text-white flex items-center gap-2">
      <ng-icon name="heroCube" class="h-6 w-6"></ng-icon>
      Sistema de Gestão
    </h1>

    <!-- Navegação -->
    <nav class="flex flex-col gap-2">

      <a class="text-xl font-bold dark:text-white flex items-center gap-2">
        <ng-icon name="heroCube" class="h-6 w-6"></ng-icon>
        Produtos
      </a>

      <a routerLink="/produtos/listar" routerLinkActive="active"
         class="menu-btn flex items-center gap-3 px-3 py-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700">
        <ng-icon name="heroCube" class="h-5 w-5"></ng-icon>
        Lista de Produtos
      </a>

      <a routerLink="/produtos/cadastrar" routerLinkActive="active"
         class="menu-btn flex items-center gap-3 px-3 py-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700">
        <ng-icon name="heroCube" class="h-5 w-5"></ng-icon>
        Novo Produto
      </a>

      <a class="text-xl font-bold dark:text-white flex items-center gap-2">
        <ng-icon name="heroClipboardDocument" class="h-6 w-6"></ng-icon>
        Notas
      </a>

      <a routerLink="/notas/listar" routerLinkActive="active"
         class="menu-btn flex items-center gap-3 px-3 py-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700">
        <ng-icon name="heroClipboardDocument" class="h-5 w-5"></ng-icon>
        Lista de Notas
      </a>

      <a routerLink="/notas/cadastrar" routerLinkActive="active"
         class="menu-btn flex items-center gap-3 px-3 py-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700">
        <ng-icon name="heroClipboardDocument" class="h-5 w-5"></ng-icon>
        Nova Nota
      </a>
    </nav>

    <!-- Toggle tema + Logout -->
    <div class="mt-auto flex flex-col gap-3">

      <!-- Botão alternar tema -->
      <button (click)="toggleDarkMode()"
              class="w-full bg-gray-200 dark:bg-gray-700 text-gray-900 dark:text-gray-50
                    py-2 rounded-md flex items-center justify-center gap-2
                    hover:bg-gray-300 dark:hover:bg-gray-600">
        <ng-icon name="heroMoon" *ngIf="!dark" class="h-5 w-5"></ng-icon>
        <ng-icon name="heroSun" *ngIf="dark" class="h-5 w-5"></ng-icon>
        Alternar Tema
      </button>

      <!-- Botão logout -->
      <button (click)="logout()"
              class="w-full bg-red-600 text-white py-2 rounded-md hover:bg-red-700 transition">
        Logout
      </button>

    </div>

  </aside>

  <!-- CONTEÚDO PRINCIPAL -->
  <main class="flex-1 p-6 overflow-auto dark:text-white bg-gray-50 dark:bg-gray-900">
    <router-outlet />
  </main>

</div>
